doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    script(src='/lib/three.min.js')
    script(src='/socket.io/socket.io.js')
    block content
