doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/lib/deep-diff-0.3.0.min.js')
    script(src='/lib/three.min.js')
    script(src='/js/three-changer.js')
    script(src='/socket.io/socket.io.js')
  body
    block content
